<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntityEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntityEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EntityEngine.Properties.Settings>
            <setting name="FolderBaseMap" serializeAs="String">
                <value>..\..\Maps</value>
            </setting>
            <setting name="MapMainMenu" serializeAs="String">
                <value>..\..\Maps\MainMenu</value>
            </setting>
            <setting name="MapGlobal" serializeAs="String">
                <value>..\..\Maps\Global</value>
            </setting>
            <setting name="InferMapReference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapPath" serializeAs="String">
                <value />
            </setting>
        </EntityEngine.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EntityEngine.Properties.Settings>
            <setting name="FolderAudio" serializeAs="String">
                <value>Audio</value>
            </setting>
            <setting name="FolderComponents" serializeAs="String">
                <value>Components</value>
            </setting>
            <setting name="FolderEntities" serializeAs="String">
                <value>Entities</value>
            </setting>
            <setting name="FolderModels" serializeAs="String">
                <value>Models</value>
            </setting>
            <setting name="FolderShaders" serializeAs="String">
                <value>Shaders</value>
            </setting>
            <setting name="FolderStrings" serializeAs="String">
                <value>Strings</value>
            </setting>
        </EntityEngine.Properties.Settings>
    </applicationSettings>
</configuration>